.cards {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100%;
  border-radius: 0;
  border: 0;
  .boximg {
    height: 100px;
  }
  img {
    width: 60px;
    height: auto;
    margin-bottom: 15px;
  }
  .title {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: $-xl;
  }
  .text {
    font-weight:lighter;
  }
}
.card-flex {
  display: flex;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}
.style1 {
  background-color: $primary-hbc;
  color: #fff;
}
.style2 {
  background-color: $secondary-hbc;
  color: $c-tertiary;
}
.style3 {
  background-color: #fff;
  color: $c-tertiary;
}
.style4 {
  background-color: $c-tertiary;
  color: #fff;
}
.style5 {
  border: 1px dotted $c-secondary;
  background-color: $c-tertiary;
  color:#ccc;
}