.hero-gradient.d-flex
  .hero-content
    .container
      .text-center
        .hero-caption
          .d-flex.justify-content-center.align-items-center
            img.mb-3(src="/src/assets/logo.svg", alt="Logo HBC", width="60px" height="74px")
            h1
              span HBC
              small cabines para estudo
          p.py-2.text-xl2
            | Onde foco e praticidade andam de mãos dadas.
        a.btn.btn-whatsapp.btn-lg(href="https://wa.me/5561999181888?text=Olá! Encontrei a Clínica pelo Google e gostaria de realizar um agendamento." title="Agende sua visita" target='_blank') 
          .fa-brands.fa-whatsapp
          | &nbsp; Agendar agora