nav.navbar.navbar-expand-lg.nav-hbc
  .container
    a.navbar-brand(href='#' title="Logo HBC")
      img(src="/src/assets/logo-default.svg", alt="Logo HBC", width="150px" height="67px")
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse.justify-content-end
      ul.navbar-nav.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page' href='#') Início
        li.nav-item
          a.nav-link(href='#sobre') Sobre
        li.nav-item
          a.nav-link(href='#planos') Nossos Planos
        li.nav-item
          a.nav-link(href='#localizacao') Localização 
        li.nav-item
          a.nav-link(href='#contato') Contato
      ul.navbar-nav.mb-2.mb-lg-0.d-flex(role='search')
        li.nav-item
          a.nav-link(href='https://wa.me/5561998939494?text=Olá! Gostaria de saber mais sobre a HBC.')
            i.fa-brands.fa-whatsapp
        li.nav-item
          a.nav-link(href='https://www.instagram.com/cabinesestudohbc', target="_blank")
            i.fa-brands.fa-instagram
