a.btn.btn-whatsapp.btn-lg.w-100(href="https://wa.me/5561998939494?text=Olá! Gostaria de saber mais sobre a HBC." title="Agende sua visita" target='_blank') 
  .fa-brands.fa-whatsapp
  | &nbsp; Fale conosco